<div>
  <form action="/api/products" method="get">
      <label for="sort" >Ordenar por:</label>
      <select name="sort" id="sort">
          <option value="">Sin orden</option>
          <option value="price">Precio ascendente</option>
          <option value="-price">Precio descendente</option>
      </select>
        <br>
        <label for="limit">Mostrar por página:</label>
        <input type="text" name="limit" id="limit" value="{{limit}}">
        <input type="hidden" name="filter" value="{{filter}}">
        <input type="hidden" name="page" value="{{currentPage}}">
        <br>
        <button type="submit">Aplicar</button>
  </form>

  <h2>Filtrar por categoría:</h2>
    <a href="?filter=">Todos</a><br>
    <a href="?filter=BEBI">Bebidas</a><br>
    <a href="?filter=ALIM">Alimentos</a><br>
    <a href="?filter=LIMP">Limpieza</a><br>
    <br>
    <b><a href="/api/session/current">Ver usuario</a></b>
    <br>
    <br>
    <button id="logout-button">Cerrar sesión</button>
    <br>
    <br>
</div>

<div>
<b><a href="/api/session/newProduct">Agregar producto</a></b>
</div>

<div>
  <h1>Lista de productos</h1>
   
 {{#each products}}

      <p><b>Title:</b> {{title}}</p>
      <p><b>Description:</b> {{description}}</p>
      <p><b>Price:</b> {{price}}</p>
      {{#if thumbnail.length}}
      <p><b>Thumbnail:</b> {{thumbnail}}</p>
      {{/if}}
      <p><b>Code:</b> {{code}} </p>
      <p><b>Stock:</b> {{stock}}</p>
      {{#if status}}
      {{else}}
      <p style="color: red;"><b>Producto discontinuado</b></p>
      {{/if}}
      <form id="update-form">
        <label for="title-{{_id}}">Title:</label>
        <input type="text" name="title" id="title-{{_id}}" value="{{title}}">
        <br>
        <label for="description-{{_id}}">Description:</label>
        <input type="text" name="description" id="description-{{_id}}" value="{{description}}">
        <br>
        <label for="price-{{_id}}">Price:</label>
        <input type="number" name="price" id="price-{{_id}}" value="{{price}}">
        <br>
        <label for="thumbnail-{{_id}}">Thumbnail:</label>
        <input type="text" name="thumbnail" id="thumbnail-{{_id}}" value="{{thumbnail}}">
        <br>
        <label for="stock-{{_id}}">Stock:</label>
        <input type="number" name="stock" id="stock-{{_id}}" value="{{stock}}">
        <br>
        <button type="button" onclick="updateProduct('{{_id}}')">Actualizar</button>
        {{#if status}}
        <button type="button" onclick="deleteProduct('{{_id}}')">Eliminar</button>
        {{else}}
        <button type="button" onclick="activateProduct('{{_id}}')">Reactivar</button>
        {{/if}}
      </form>
            <hr></hr>
  {{/each}}
</div>

<div>
    <p>Página {{currentPage}} de {{totalPages}}</p>
    {{#if response.hasNextPage}}
    <p>Mostrando {{limit}} productos de un total de {{response.totalDocs}}</p>
    {{else}}
    <p>Mostrando {{lastPageItemCount}} productos de un total de {{response.totalDocs}}</p>
    {{/if}}
    {{#if response.hasPrevPage}}
        <a href="?page={{response.prevPage}}&limit={{limit}}&filter={{filter}}&sort={{sort}}">Anterior</a>
    {{/if}}
    {{#if response.hasNextPage}}
        <a href="?page={{response.nextPage}}&limit={{limit}}&filter={{filter}}&sort={{sort}}">Siguiente</a>
    {{/if}}
</div>

